* {
    user-select: none;
    -webkit-user-select: none;
}

#centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 30px);
    align-items: center;
    justify-content: center;
}

#prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 20px;
    cursor: default;
    font-size: 30px;
}

#prompt svg {
    width: 130px;
}

#prompt-sub {
    font-size: 15px;
    color: #ffffffad;
    text-align: center;
}

/* Below is modified to add a cross animation in the same style */
svg.cross-circle {
    color: #e8513a;
}

@keyframes crossmark {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
svg.cross-circle #Cross {
    opacity: 0;
    animation: crossmark 0.5s cubic-bezier(0.66, 0.23, 0.51, 1.23) 0.25s forwards;
}

svg.cross-circle circle.semi-transparent {
    animation: grow-circle 0.45s cubic-bezier(0.66, 0.23, 0.51, 1.23) backwards,
        grow-circle-bigger 0.9s linear 1.1s forwards;
}

svg.cross-circle circle.colored {
    animation: grow-circle 0.5s cubic-bezier(0.66, 0.23, 0.51, 1.23) 0.25s backwards;
}

/* Taken from https://github.com/rharkor/check-mark-animation/blob/main/style.css */
svg.check-circle {
    color: #e8913a;
}

/* BELOW IS THE ESSENTIAL CODE FOR THE ANIMATION */
@keyframes checkmark {
    0% {
        stroke-dashoffset: 50%;
    }

    100% {
        stroke-dashoffset: 0px;
    }
}

svg.check-circle polyline {
    animation: checkmark 0.5s cubic-bezier(0.55, 0.2, 0.71, -0.04) 0.7s backwards;
}

@keyframes grow-circle {
    0% {
        r: 0;
    }
}

@keyframes grow-circle-bigger {
    50% {
        opacity: 0.11;
    }

    100% {
        r: 100;
        opacity: 0;
    }
}

svg.check-circle circle.semi-transparent {
    animation: grow-circle 0.45s cubic-bezier(0.66, 0.23, 0.51, 1.23) backwards,
        grow-circle-bigger 0.9s linear 1.1s forwards;
}

svg.check-circle circle.colored {
    animation: grow-circle 0.5s cubic-bezier(0.66, 0.23, 0.51, 1.23) 0.25s backwards;
}