* {
    user-select: none;
    -webkit-user-select: none;
}

#centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 30px);
    align-items: center;
    justify-content: center;
}

#prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 20px;
    cursor: default;
}

#prompt-detail {
    width: 200px;
    filter: brightness(60%);
    animation: shaking 0.8s infinite;
}
#prompt-hammer {
    width: 150px;
    position: fixed;
    top: 80px;
    left: 12%;
    transform-origin: bottom right;
    animation: hit 0.8s infinite ease-in-out;
    z-index: 1;
}
@keyframes hit {
    0%,
    100% {
        transform: scaleX(-1) rotate(20deg);
    }

    30% {
        transform: scaleX(-1) rotate(-20deg);
    }
}
@keyframes shaking {
    0%,
    15%,
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
    35% {
        transform: translate(5px, 5px) rotate(5deg);
    }
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation-fill-mode: both;
    animation: bblFadInOut 1.8s infinite ease-in-out;
}

.loader {
    color: #FFF;
    font-size: 7px;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@keyframes bblFadInOut {

    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em
    }

    40% {
        box-shadow: 0 2.5em 0 0
    }
}