* {
    user-select: none;
    -webkit-user-select: none;
}

#centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 30px);
    align-items: center;
    justify-content: center;
}

h1 {
    cursor: default;
}

p {
    cursor: default;
}

#mods {
    width: 500px;
    border: 1px solid #333;
    border-radius: 0.25rem;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    margin: 10px 0 0;
    height: 220px;
    max-height: 220px;
    overflow-y: auto;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

#mods::-webkit-scrollbar {
    width: 6px;
}

#mods::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 25px;
}

#mods::-webkit-scrollbar-thumb {
    background: #2f2f2fff;
    border-radius: 10px;
}

#mods::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#mods p {
    cursor: default;
    margin: 0;
    margin-bottom: 15px;
}

.dropdown-header {
    cursor: pointer;
    user-select: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 15px;
    font-weight: normal;
    color: #ffffffad;
}

.dropdown-header::before {
    content: "▶";
    display: inline-block;
    transition: transform 0.2s linear;
    font-size: 0.9rem;
}

.dropdown-header.open::before {
    transform: rotate(90deg);
}

.dropdown-content {
    height: 0;
    overflow: hidden;
    transition: height 0.2s linear;
    padding-left: 20px;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff7e;
}
.dropdown-content label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 2px 0;
}
.dropdown-content input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 16px;
    height: 16px;
    border: 1px solid #333;
    border-radius: 0.25rem;
    background-color: #232323;/*1e1e1e*/
}
.dropdown-content input[type="checkbox"]:checked {
    border: 1px solid #efad6b;
    background-color: #e8913a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    background-image: url("./assets/checkmark.svg");
}