* {
    user-select: none;
    -webkit-user-select: none;
}

h1 {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 60px;
    cursor: default;
}

#centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#container p {
    cursor: default;
    margin: 0;
    margin-bottom: 15px;
}

#container a {
    cursor: default;
    font-size: 13px;
    color: #ffffff78;
}

#devices {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    box-sizing: border-box;
    padding: 8px 10px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #1e1e1e;
    color: white;
    font-size: 14px;
    margin-bottom: 6px;

    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
    background-position: right 15px top 1em, right 10px top 1em;
    background-size: 5px 5px, 5px 5px;
}
#devices:focus {
    outline: none;
    border-color: #e8913a;
}