:root {
    color: color(srgb 1 1 1 / 0.8);
    background-color: color(srgb 0.14 0.14 0.14);
    font-family: "Adwaita Sans", Inter, "Roboto Flex", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
    margin: 0;
}

::view-transition-old(step-anim) {
    animation: 250ms ease-in both fade-out, 250ms ease-in both slide-out;
}
::view-transition-new(step-anim) {
    animation: 300ms ease-out both fade-in, 300ms ease-out both slide-in;
}

@keyframes fade-in { from { opacity: 0; } }
@keyframes fade-out { to { opacity: 0; } }
@keyframes slide-in { from { transform: translateX(20px); } }
@keyframes slide-out { to { transform: translateX(-20px); } }