* {
    user-select: none;
    -webkit-user-select: none;
}

#centered {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#logo {
    width: 200px;
}

#version {
    font-size: 15px;
    font-weight: 300;
    cursor: default;
}

#description {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff71;
    cursor: default;
}

#prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 20px;
    cursor: default;
}
#prompt-detail {
    width: 100px;
}

#creators {
    margin-top: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.383);
    padding-top: 10px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    color: #ffffffad;
    text-align: center;
    cursor: default;
}
#creators a {
    color: #e8913a;
}